main ul {
    list-style: none;
}
.proj {
    display: grid;
    grid-template-areas: 'link description';
    grid-template-columns: repeat(2, 50%);

    grid-gap: 5px;
}
.link {
    grid-area: link;
    text-align: right;

    background-color: #1db47a;
    border: #1db47a 1px solid;
    border-radius: 30px;

    color: #024b08;
}
.description {
    grid-area: description;
    text-align: left;
}