
.fancy {
    font-family: 'Henny Penny', cursive;
    text-shadow: 2px, 3px;
}

body {
    background-color: #00920c;
}

.top-grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
}

.topnav {
    overflow: hidden;
    
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #00c217;
    color: black;
}
.topnav a.active {
    font-weight: 700;
    text-decoration: underline;
    background-color: #00e71b;
}

.topnav a:hover {
    background-color: #006408;
    color: white;
}

.link{
    color:black;
}

.link:hover {
    color: white;
    font-weight: 600;
}

.grid-container{
    display: grid;

    grid-template-columns: 10% auto auto;

    grid-template-areas:
    'nav nav nav '
    ' header header header'
    'menu main main ';
    
}

.item1 {
    grid-area: nav;
    background-color:#00c217;
    padding: 0px 10px;
    text-align: center;

}

.item2 {
    grid-area: header;
    text-align: center;

}

.item3 {
    grid-area: menu;
    background-color: #00c217;
    padding: 12px 1px;
    text-align: center;
    overflow:hidden;

    position: -webkit-sticky;
    position: sticky;
    top:0;
    align-self: start;

}

.item4 {
    grid-area:main;
    text-align: left;
    padding: 14px 16px
}

.menuitem{
    overflow: hidden;
}

.menuitem a{
    padding: 14px 16px;
    color: black;
}

.menuitem a:hover{
    background-color: #006408;
    color: white;
}

.imega {
    width: 500px;
    height: auto;
}
