.grid-container {
    grid-template-rows: repeat(3, 33%);
    grid-gap: 8vh;
}
.grid-item a{
    margin-bottom: 20vh;
    font-size: 8vw;
    padding-left: 30%;
    padding-right: 30%;
}

footer {
    text-align: center;
    position: static;
    padding-top: 10vh;

    font-size: 1vw;
}