html {
    font-size: 1.5rem;
}

header h1 {
    text-align: center;
}

nav {
    position: fixed;
    vertical-align: middle;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}

footer {
    position:fixed;
    bottom: 0;    
}