body {
    border: 1px black solid;
    padding: 4vw;
    margin: 4vw;
    background-color: #00fa9a;
}

header {
    grid-area: tit;
    text-align: center;
    color: #024b08;
}
header > h1 {
    font-size: 15vw;
    font-family: 'VT323', monospace;
}

.back {
    grid-area: back;
    text-align: center;

    margin-top: 15vh;
    font-size: 1vw;
    font-family: 'Fjalla One', sans-serif;

}
.back > a {
    border: 1px solid #20b2aa;
    border-radius: 5px;

    background-color: #20b2aa;
    color: #ffffff;

    font-weight: bold;
    padding: .5vw;
    text-decoration: none;

}
.back a:hover {
    background-color: #ffffff;
    color: #20b2aa;
}

footer {
    grid-area: foot;
    text-align: center;
    font-size: 1vw;

    margin-top: 15vh;
    font-family: 'Fjalla One', sans-serif;

}
footer a {
    border: 1px solid #20b2aa;
    border-radius: 5px;

    padding: .2vw;
    margin: .2vw;

    text-decoration: none;

    background-color: #20b2aa;
    color: #ffffff;
}
footer a strong {
    font-weight: bold;

    padding: 0.1vw;

    border: 1px solid #ffffff;
    border-radius: 5px;

    background-color: #ffffff;
    color: #20b2aa;
}
footer a:hover {
    background-color: #ffffff;
    color: #20b2aa;
}
footer a:hover strong {
    background-color: #20b2aa;
    color: #ffffff;
}